# This requirements file indicates packages necessary to run the OMEGA model and the GUI
#
# quick uninstall all: pip freeze | xargs pip uninstall -y
# or
# pip freeze > freeze.txt
# pip uninstall -r freeze.txt -y
#
# Install using pip:
# pip install -r requirements.txt --compile

# for omega_model:
numpy
matplotlib
pandas
scipy
SQLAlchemy<1.4.0
treelib
parquet==1.3.1
fastparquet

# for readthedocs:
sphinx-rtd-theme>=1.0.0,<=2.0.0

# for dispy parallel processing:
dispy==4.15.2
pycos==4.12.2
psutil
netifaces ; platform_system!="Windows" or python_version<="3.8"

# for omega batch process:
pyDOE2

# for reading excel files (omega_preproc):
openpyxl

# for omega_gui (PySide2 is INTEL only):
PySide2 ; platform_machine=="x86_64"
multitimer ; platform_machine=="x86_64"
playsound ; platform_machine=="x86_64"
PyYAML ; platform_machine=="x86_64"
