# This requirements file can be used to install optional packages for developers
#
# Install using pip:
# pip install -r requirements-dev.txt

# for building docs from .rst files (optional):
Sphinx<4.0.0

# for bumping the version number:
bumpversion

# for building the executable:
pyinstaller

# for visualizing profiler results
snakeviz

# for pushing packages to PyPi
twine
